<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
       PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-config.dtd">
       <!-- MyBatis核心配置文件 -->
<configuration>
	<!--导入properties文件(xml中，所有標籤都可以規定其順許)-->
   <properties resource="db.properties"/>
   
   <!--配置别名,注意顺序-->
	<typeAliases>
	   <typeAlias type="com.wong.mybatis.pojo.User" alias="User"/>
	</typeAliases>
	
   <environments default="development">
       <environment id="development">
           <transactionManager type="JDBC"/>
           <dataSource type="POOLED">
               <property name="driver" value="${driver}"/>
               <property name="url" value="${url}"/>
               <property name="username" value="${username}"/>
               <property name="password" value="${password}"/>
           </dataSource>
       </environment>
   </environments>
<!-- 
org.apache.ibatis.binding.BindingException: Type interface com.wong.mybatis.dao.UserDao is not known to the MapperRegistry.
每一個 Mapper.xml 都需要在 Mybatis-config 核心配置文件中註冊!
 -->
	<mappers>
	 	<mapper resource="com/wong/mybatis/dao/UserMapper.xml"/>
	 </mappers>
	 
</configuration>